<div class="col-md-9 col-xs-9 col-sm-9 none-padd right-border">
	<ul class="nav nav-tabs nav-justified">
	  <li class="active"><a href="#native-img" data-toggle="tab">Наши картинки</a></li>
	  <li><a href="#add-url" data-toggle="tab">Добавить картинку</a></li>
	</ul>
</div>
<div class="col-md-3 col-xs-3 col-sm-3 container-close-button">
	<button class="pull-right" id="close-list-img"></button>
</div>
<!-- Tab panes -->
<div class="col-md-9 col-xs-9 col-sm-9 none-padd right-border">
	<div class="tab-content">
		<div class="tab-pane active" id="native-img">		
		</div>
		<div class="tab-pane" id="add-url">Добавляшка</div>
	</div>
</div>
<div class="col-md-3 col-xs-3 col-sm-3 accord_container" id="accord_container">
	<!-- #1 -->
	<button type="button" class="btn accord_btn" data-toggle="collapse" data-target="#food">
		"Пища"
	</button>
	<div id="food" class="collapse panel-collapse in">
		<ul class="child-menu accord_menu_ul">
			<li><button class="btn">Фрукты и ягоды</button></li>		
			<li><button class="btn">Овощи</button></li>		
			<li><button class="btn">Специи</button></li>		
			<li><button class="btn">Напитки</button></li>		
	   	</ul>
	</div>
	<!-- #2 -->
	<button type="button" class="btn accord_btn" data-toggle="collapse" data-target="#nature">
		"Природа"
	</button>
	<div id="nature" class="collapse panel-collapse">
		<ul class="child-menu accord_menu_ul">		
	   	</ul>
	</div>
	<!-- #3 -->
	<button type="button" class="btn accord_btn" data-toggle="collapse" data-target="#animals">
		"Животные"
	</button>
	<div id="animals" class="collapse panel-collapse">
		<ul class="child-menu accord_menu_ul">		
	   	</ul>
	</div>
	<!-- #4 -->
	<button type="button" class="btn accord_btn" data-toggle="collapse" data-target="#flowers">
		"Цветы"
	</button>
	<div id="flowers" class="collapse panel-collapse">
		<ul class="child-menu accord_menu_ul">		
	   	</ul>
	</div>
	<!-- #5 -->
	<button type="button" class="btn accord_btn" data-toggle="collapse" data-target="#undersea">
		"Подводный мир"
	</button>
	<div id="undersea" class="collapse panel-collapse">
		<ul class="child-menu accord_menu_ul">		
	   	</ul>
	</div>
	<!-- #6 -->
	<button type="button" class="btn accord_btn" data-toggle="collapse" data-target="#insects">
		"Насекомые"
	</button>
	<div id="insects" class="collapse panel-collapse">
		<ul class="child-menu accord_menu_ul">		
	   	</ul>
	</div>
	<!-- #7 -->
	<button type="button" class="btn accord_btn" data-toggle="collapse" data-target="#abstraction">
		"Абстракция"
	</button>
	<div id="abstraction" class="collapse panel-collapse">
		<ul class="child-menu accord_menu_ul">		
	   	</ul>
	</div>
	<!-- #8 -->
	<button type="button" class="btn accord_btn" data-toggle="collapse" data-target="#architecture">
		"Архитектура"
	</button>
	<div id="architecture" class="collapse panel-collapse">
		<ul class="child-menu accord_menu_ul">		
	   	</ul>
	</div>	
</div>