<h2 class="text-center">ВЫБОР КАРТИНКИ И КАЛЬКУЛЯЦИЯ ФАРТУКА</h2>
<div id='canvas-kitchen' class="<%=position%> <%=rotate%>">
	<!-- if it's lateral panel - it cans rotate -->
	<%if(can_rotate === true){%>
		<div class="rotate_bg"></div>
		<div class="rotate text-center"><i></i><br><span class="text-on-button">Посмотреть эту сторону</span></div>
	<%}%>
	<!-- /end -->
	<div class="kitchen-panel" style="background: url(<%=kitcehn_bg%>);"></div>

	<div id="parent-draggable">
		<div id="draggable" class="movement" style="top:-43px; left:-89px;"></div>
	</div>
	<div class="k_wall">
		<div id="crop-area">
			<style>
				#parent-draggable>#draggable.movement{
					transform: scale(<%= scale %>) !important;
					-webkit-transform: scale(<%= scale %>) !important;
					-moz-transform: scale(<%= scale %>) !important;
					-ms-transform: scale(<%= scale %>) !important;
					display:block;
					position: absolute;
				}
				#main-poster{
					transform: scale(<%= scale %>) !important;
					-webkit-transform: scale(<%= scale %>) !important;
					-moz-transform: scale(<%= scale %>) !important;
					-ms-transform: scale(<%= scale %>) !important;
					display:block;
					position: absolute;						
		/*			top: <%= top_place %>px !important;
					left: <%= left_place %>px !important;
					<%if(top_place === 0){%>
					top: -2px !important;
					left: -2px !important;
					<%}%>*/
				}
				<%if(scale_mirrow === true){%>
					#main-poster{
						transform: scale(-1, 1);
						-webkit-transform: scale(-1, 1);
						-moz-transform: scale(-1, 1);
						-ms-transform: scale(-1, 1);
					}					
				<%}%>
			</style>
			<img id="main-poster" class="movement" style="top:-10px; left:-10px;" src="<%=poster%>">		
		</div>		
	</div>
</div>
<div id='control-panel' class="pull-right col-sm-3 col-md-3 col-xs-3">
	<div class="position-panel col-sm-12 col-md-12 col-xs-12">
		<h4 class="text-center">Тип кухни</h4>
		<div class="without-style">
			<button class="position-button <%if(position === 'l_position'){%>active<%}%>" id="position-left"></button>
			<button class="position-button <%if(position === 'c_position'){%>active<%}%>" id="position-center"></button>
			<button class="position-button <%if(position === 'r_position'){%>active<%}%>" id="position-right"></button>
		</div>
	</div>
	<div class="color-panel col-sm-12 col-md-12 col-xs-12">
		<h4 class="text-center">Цвет кухни</h4>
		<div class="into-style">
			<div class="color-button <%if(current_color_of_panel === 'color1'){%>active<%}%>" id="color1"></div>
			<div class="color-button <%if(current_color_of_panel === 'color2'){%>active<%}%>" id="color2"></div>
			<div class="color-button <%if(current_color_of_panel === 'color3'){%>active<%}%>" id="color3"></div>
			<div class="color-button <%if(current_color_of_panel === 'color4'){%>active<%}%>" id="color4"></div>
		</div>
	</div>
	<div class="getimg-panel col-sm-12 col-md-12 col-xs-12">
		<button class="spec-button text-on-button" id="choose_img_button"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;&nbsp;Выбери фото</button>
	</div>
	<div class="scale-panel col-sm-12 col-md-12 col-xs-12">
		<button class="scale-button spec-button" id="minus">-</button>
		<button class="scale-button spec-button" id="plus">+</button>
	</div>
	<div class="mirrow-panel col-sm-12 col-md-12 col-xs-12">
		<button class="mirrow-button spec-button text-on-button"><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;&nbsp;Повернуть фото</button>
	</div>
</div>