<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	                Пища
	              </a>
	            </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	      <div class="panel-body">
	        <ul class="child-menu accord_menu_ul">
				<li><button class="btn" data-category="0">Фрукты и ягоды</button></li>		
				<li><button class="btn" data-category="1">Овощи</button></li>		
				<li><button class="btn" data-category="2">Специи</button></li>		
				<li><button class="btn" data-category="3">Напитки</button></li>		
		   	</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	                Природа
	              </a>
	            </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
	        <ul class="child-menu accord_menu_ul">
				<li><button class="btn" data-category="4">Закат</button></li>		
				<li><button class="btn" data-category="5">Горы и водопад</button></li>		
				<li><button class="btn" data-category="6">Море и пляж</button></li>		
				<li><button class="btn" data-category="7">Галактика</button></li>
				<li><button class="btn" data-category="8">Поле</button></li>
				<li><button class="btn" data-category="9">Лес и деревья</button></li>
		   	</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	                Животные
	              </a>
	            </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body">
	        <ul class="child-menu accord_menu_ul">
				<li><button class="btn" data-category="10">Слоны</button></li>
				<li><button class="btn" data-category="11">Лошади</button></li>
		   	</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	                Цветы
	              </a>
	            </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse">
	      <div class="panel-body">
	        <ul class="child-menu accord_menu_ul">
				<li><button class="btn" data-category="12">Орхидеи</button></li>
				<li><button class="btn" data-category="13">Тюлпаны</button></li>
				<li><button class="btn" data-category="14">Полевые цветы</button></li>
				<li><button class="btn" data-category="15">Другие цветы</button></li>	
		   	</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFife">
	                Подводный мир
	              </a>
	            </h4>
	    </div>
	    <div id="collapseFife" class="panel-collapse collapse">
	      <div class="panel-body">
	        <ul class="child-menu accord_menu_ul">
				<li><button class="btn" data-category="16">Обитатели подводного мира</button></li>	
		   	</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	              <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
	                Насекомые
	              </a>
	            </h4>
	    </div>
	    <div id="collapseSeven" class="panel-collapse collapse">
	      <div class="panel-body">
	        <ul class="child-menu accord_menu_ul">
				<li><button class="btn" data-category="17">Бабочки</button></li>
				<li><button class="btn" data-category="18">Божьи коровки</button></li>
		   	</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	              <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
	                Абстракция
	              </a>
	            </h4>
	    </div>
	    <div id="collapseEight" class="panel-collapse collapse">
	      <div class="panel-body">
	        <ul class="child-menu accord_menu_ul">
				<li><button class="btn" data-category="19">Бежевая и коричневая</button></li>
				<li><button class="btn" data-category="20">Синяя</button></li>
				<li><button class="btn" data-category="21">Черная</button></li>
				<li><button class="btn" data-category="22">Зеленая</button></li>
				<li><button class="btn" data-category="23">Красная и розовая</button></li>
				<li><button class="btn" data-category="24">Разноцветная</button></li>
		   	</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	              <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
	                Архитектура
	              </a>
	            </h4>
	    </div>
	    <div id="collapseNine" class="panel-collapse collapse">
	      <div class="panel-body">
	        <ul class="child-menu accord_menu_ul">
				<li><button class="btn" data-category="25">Города</button></li>
				<li><button class="btn" data-category="26">Стены</button></li>
		   	</ul>
	      </div>
	    </div>
	  </div>
	</div>