body{
	background: rgba(4,4,4,.1);
}
#main-kitchen{
	background: url(./images/kitchenbg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 678px;
	width: 915px;
	margin: 20px auto;
	position: relative;  
}
#main-kitchen>h2{
	margin-top: 0;
	padding-top: 20px;  
}
.kitchen-panel{
	background-size: 100%;		
	background-repeat: no-repeat !important; 
	width: 668px; 
	height: 561px; 
	position: absolute; 
	bottom: 0; 
	left: 50px;
	z-index: 10;
}
.k_wall{
	width: 638px;
    height: 165px;
    overflow: hidden;
    position: absolute;
    z-index: 8;
    top: 286px;
    left: 50px;
}
#crop-area{
	position: absolute;
    overflow: hidden;
    width: 890px;
    height: 165px;
    border: 1px dotted rgb(153, 153, 153);
    left: 0px;
    top: 0px;
}
#crop-area>img{
	display: inherit;
    position: absolute;
    width: 890px;
    height: 270px;
    left: 0px;
    /*top: -100.115px;*/
}
.rotate_bg{
	width: 100px;
    height: 152px;
    background: rgba(245,245,245,.5);
    position: absolute;
    top: 298px;
    left: 50px;
    z-index: 9;
    padding: 0 10px;
    padding-top: 38px;
    font-size: 20px;
    cursor: pointer;
}
.rotate{
	width: 100px;
    height: 152px;
    position: absolute;
    top: 298px;
    left: 50px;
    z-index: 11;
    padding: 0 10px;
    padding-top: 38px;
    font-size: 20px;
    cursor: pointer;
}
#draggable{
	cursor: move;
}
/*==============position left================*/ 
.l_position #parent-draggable{
	width: 538px;
    height: 130px;
    z-index: 100;
    position: absolute;
    top: 311px;
    left: 150px;
}
#parent-draggable>#draggable{
	width: 100%;
	height: 100%;
}
.l_position #crop-area{
    left: -155px;
}
/*left-b*/
.l_position.rotate-side .rotate_bg{
	width: 100px;
    height: 161px;
    background: rgba(245,245,245,.5);
    position: absolute;
    top: 290px;
    left: 373px;
    z-index: 9;
    padding: 0 10px;
    padding-top: 38px;
    font-size: 20px;
    cursor: pointer;
}
.l_position.rotate-side .rotate{
	width: 100px;
    height: 152px;
    position: absolute;
    top: 298px;
    left: 380px;
    z-index: 11;
    padding: 0 10px;
    padding-top: 38px;
    font-size: 20px;
    cursor: pointer;
}
.l_position.rotate-side #crop-area{
    left: 0px;
}
.l_position.rotate-side .k_wall{
	width: 406px;
    left: 67px;
}
.l_position.rotate-side #parent-draggable {
	width: 305px;
	left: 68px;
}
/*=================position center=====================*/
.c_position .kitchen-panel{
	top: 190px;
}
.c_position .k_wall{
	width: 593px;
    left: 80px;
}
.c_position #parent-draggable{
	width: 592px;
    height: 130px;
    z-index: 100;
    position: absolute;
    top: 321px;
    left: 81px;
}
.c_position #crop-area{
    left: -145px;
}
/*================position right=================*/
.r_position .k_wall{
    left: 79px;
}
.r_position #parent-draggable{
    width: 538px;
    height: 130px;
    z-index: 100;
    position: absolute;
    top: 314px;
    left: 80px;
}

.r_position.rotate-main .rotate_bg{
	width: 100px;
    height: 152px;
    background: rgba(245,245,245,.5);
    position: absolute;
    top: 298px;
    left: 617px;
    z-index: 9;
    padding: 0 10px;
    padding-top: 38px;
    font-size: 20px;
    cursor: pointer;
}
.r_position.rotate-main .rotate{
	width: 100px;
    height: 152px;
    position: absolute;
    top: 298px;
    left: 624px;
    z-index: 11;
    padding: 0 10px;
    padding-top: 38px;
    font-size: 20px;
    cursor: pointer;
}
.r_position #crop-area{
    left: 0px;
}
/*right-b*/
.r_position.rotate-side .rotate_bg{
	width: 100px;
    height: 161px;
    background: rgba(245,245,245,.5);
    position: absolute;
    top: 290px;
    left: 52px;
    z-index: 9;
    padding: 0 10px;
    padding-top: 38px;
    font-size: 20px;
    cursor: pointer;
}
.r_position.rotate-side .rotate{
	width: 100px;
    height: 152px;
    position: absolute;
    top: 298px;
    left: 61px;
    z-index: 11;
    padding: 0 10px;
    padding-top: 38px;
    font-size: 20px;
    cursor: pointer;
}
.r_position.rotate-side .k_wall{
	width: 406px;
    left: 51px;
}
.r_position.rotate-side #parent-draggable{
    width: 306px;
    left: 152px;
}
.r_position.rotate-side #crop-area{
    left: -444px;
}
/*==============controls=================*/
#control-panel{
    /*position: absolute;*/
    top: 100px;
}
#control-panel>div{
    margin-bottom: 15px;
}
/*color*/
#control-panel div.into-style{
    width: 139px;
    padding: 5px;
    padding-top: 10px; 
    padding-left: 21px;
    margin: 0 auto;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.38);
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 0, 0, 0.45);
    box-shadow: 0 1px 0 white, inset 0 1px 3px rgba(0, 0, 0, 0.45);
}
#control-panel div.into-style>button{
    height: 16px;
    width: 16px;
    margin-left: 5px;
    border-radius: 50%;
    border: none;
}
#control-panel .color-panel #color1{
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0b0b0b), color-stop(100%, #676767));
    background-image: -webkit-linear-gradient(bottom, #0b0b0b 0%, #676767 100%);
    background-image: -moz-linear-gradient(bottom, #0b0b0b 0%, #676767 100%);
    background-image: -o-linear-gradient(bottom, #0b0b0b 0%, #676767 100%);
    background-image: linear-gradient(bottom, #0b0b0b 0%, #676767 100%);  
}
#control-panel .color-panel #color2{
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #dcdcdc), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(bottom, #dcdcdc 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(bottom, #dcdcdc 0%, #ffffff 100%);
    background-image: -o-linear-gradient(bottom, #dcdcdc 0%, #ffffff 100%);
    background-image: linear-gradient(bottom, #dcdcdc 0%, #ffffff 100%);
}
#control-panel .color-panel #color3{
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #81592f), color-stop(100%, #d9b377));
    background-image: -webkit-linear-gradient(bottom, #81592f 0%, #d9b377 100%);
    background-image: -moz-linear-gradient(bottom, #81592f 0%, #d9b377 100%);
    background-image: -o-linear-gradient(bottom, #81592f 0%, #d9b377 100%);
    background-image: linear-gradient(bottom, #81592f 0%, #d9b377 100%);
}
#control-panel .color-panel #color4{
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #533d29), color-stop(100%, #74573c));
    background-image: -webkit-linear-gradient(bottom, #533d29 0%, #74573c 100%);
    background-image: -moz-linear-gradient(bottom, #533d29 0%, #74573c 100%);
    background-image: -o-linear-gradient(bottom, #533d29 0%, #74573c 100%);
    background-image: linear-gradient(bottom, #533d29 0%, #74573c 100%);
}
#control-panel .color-panel button.active{
    opacity: 1;
    box-shadow: inset 0 0 4px black;
}

#control-panel .spec-button{
    display: block;
    border: none;
    width: 139px;
    margin: 0 auto auto;
    margin-left: 20px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.38);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.32), inset 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.32), inset 0 1px 0 white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.32), inset 0 1px 0 white;
    border-radius: 20px;
    text-shadow: 0 1px 0 white;
}
#control-panel  #minus{
    display: inline-block;
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px;
    width: 70px;
    margin-right: -3px;
    border-right: 1px solid rgba(4,4,4,.1);
    font-style: bold;
    font-size: 30px;
    padding-top: 0px;
    line-height: 10px;
}
#control-panel  #plus{
    display: inline-block;
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px;
    width: 70px;
    margin-left: 0px;
    font-style: bold;
    font-size: 30px;
    padding-top: 0px;
    line-height: 10px;
}
.position-panel .without-style{
    padding-left: 10px; 
}
.position-panel .position-button{
    border: none;
    width: 44px;
    height: 30px;
    margin-left: 5px;
}
.position-panel .position-button#position-left{    
    background: url('./images/kitchen/icons-s18899eded5.png') 0 -1559px no-repeat;
}
.position-panel .position-button#position-center{    
    background: url('./images/kitchen/icons-s18899eded5.png') 0 -1732px no-repeat;
}
.position-panel .position-button#position-right{    
    background: url('./images/kitchen/icons-s18899eded5.png') 0 -1599px no-repeat;
}

.position-panel .position-button.active, .position-panel .position-button:hover{    
    opacity: 0.4;
}

#main-kitchen>h2{
    width: 100%;
    left: 0;
    top: 26px;
    color: #353535;
    text-transform: uppercase;
    font-size: 26px;
    font-family: "Roboto Condensed", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
}
#control-panel h4{
    font-size: 13px;
    color: #353535;
    line-height: 1.2;
    text-shadow: 0 1px 0 white;
}
#control-panel .text-on-button{
    font-size: 13px;
    color: #353535;
    line-height: 1.2;
    text-shadow: 0 1px 0 white;
}

.l_position.rotate-side i {
    background: url('./images/kitchen/icons-s18899eded5.png') 0 -1317px no-repeat;
    width: 25px;
    height: 23px;
    position: relative;
    display: inline-block;
}
.l_position.rotate-main i {
    background: url('./images/kitchen/icons-s18899eded5.png') 0 -906px no-repeat;
    width: 25px;
    height: 24px;
    z-index: 10;
    position: relative;
    display: inline-block;
}
.r_position.rotate-main i {
    background: url('./images/kitchen/icons-s18899eded5.png') 0 -1317px no-repeat;
    width: 25px;
    height: 23px;
    position: relative;
    display: inline-block;
}
.r_position.rotate-side i {
    background: url('./images/kitchen/icons-s18899eded5.png') 0 -906px no-repeat;
    width: 25px;
    height: 24px;
    z-index: 10;
    position: relative;
    display: inline-block;
}
.rotate .text-on-button{
    font-size: 13px;
    color: #353535;
    line-height: 1.2;
}



